* {
  padding: 0;
  margin: 0;
}

#game {
  width: 500px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
  position: relative;
}

#character {
  width: 20px;
  height: 50px;
  background-color: red;
  position: absolute;
  top: 150px;
}

#obstacle {
  animation: slide 1.5s infinite linear;
  width: 20px;
  position: absolute;
  bottom: 0px;
  left: 480px;
}

.small {
  height: 20px;
  background-color: blue;
}

.mid {
  height: 30px;
  background-color: green;
}

.large {
  height: 40px;
  background-color: yellow;
}

.jump {
  animation: jump 0.5s linear;
}

@keyframes slide {
  0%{left: 480px;}
  100%{left: -50px;}
}

@keyframes jump {
  0%{top: 150px;}
  30%{top: 100px;}
  50%{top: 70px;}
  80%{top: 100px;}
  100%{top: 150px;}
}